@page "/"

<!--Letrero en medio de la pantalla con el texto "Bienvenido"-->
@* <div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Bienvenido</h1>
        <h2 class="text-center">Sistema de Inventario de Almacen</h2>
        <h3 class="text-center">Da clic en cualquier opcion de la barra de navegacion para comenzar</h3>
    </div>
</div> *@

<!--El letrero debe estar tanto centrado verticalmente como horizontalmente-->
<div class="row">
<div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
            <div class="text-center">
                <h1>Bienvenido</h1>
                <br />
                <h2><strong>Sistema de Inventario de Almacen</strong></h2>
                <br />
                @* <h3>Da clic en cualquier opcion de la barra de navegacion para comenzar</h3> *@
                <!--El ultimo titulo debe ser mas grisaseo y opacio-->
                <h3><span class="text-muted">Da clic en cualquier opcion de la barra de navegacion para comenzar</span></h3>

            </div>
        </div>
    </div>
</div>


