<div style="display: flex; align-items: center;">
    <!-- Título de la interfaz del lado izquierdo -->
    <h1 style="margin-right: 10px;">@Nombre</h1>
</div>

@code {
    [Parameter] public string Nombre { get; set; }


}
