@page "/xd"

<h1>No se para que le picaste, pero quiero decirte que el america siempre gana</h1>

<!--Muestra la imagen https://a.espncdn.com/i/teamlogos/soccer/500-dark/227.png-->

<img src="https://a.espncdn.com/i/teamlogos/soccer/500-dark/227.png" alt="America" width="500" height="500">
@code {

}
