@page "/xd"

<h1>No se para que le picaste, pero quiero decirte que el america siempre gana</h1>

<!--Muestra la imagen https://a.espncdn.com/i/teamlogos/soccer/500-dark/227.png-->

<img src="https://a.espncdn.com/i/teamlogos/soccer/500-dark/227.png" alt="America" width="500" height="500">

<!--En un fondo a la esquina pon un hipervinculo hacia /cosaslocas-->

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <a href="/cosaslocas" class="btn btn-primary">Beta - Tarjetas</a>
        </div>
    </div>
</div>
@code {

}
